@charset "UTF-8";

/*-----------------------------------------------*/
/* ----------------  ESTILO GERAL ---------------*/
/*-----------------------------------------------*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: rgb(72, 27, 145);
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
}




/*------------------------------------------*/
/*---------- ESTILO DO CABEÇALHO ---------- */
/*------------------------------------------*/

header {
    padding: 40px 4%;
    background-color: rgb(0, 0, 0);
    height: 200px;
    
}

header > .interface {

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header a {
    color: rgb(85, 33, 170);
    text-decoration: none;
    font-weight: bolder;
    display: inline-block;
}

header a:hover {
    color:rgb(149, 125, 253);
    transform: scale(1.10);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(149, 125, 253);
    border: 0px;
    border-radius: 30px;
    cursor: pointer;

}

header .contato button:hover {
    box-shadow: 0px 0px 8px rgb(168, 151, 245) ;
}




/*-------------------------------------------*/
/*-------------- TOPO DO SITE -------------- */
/*-------------------------------------------*/

section.topo-do-site {
    padding: 40px 4%;

}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
}

.topo-do-site h2 {
    color: white;
    line-height: 30px;
    
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;


}


@keyframes flutuar {
    0%{
        top: 0;
    }
    100% {
        top: 30px;
    }
}


/*-------------------------------------------*/
/*------------- ESPECIALIDADES ------------- */
/*-------------------------------------------*/

section.especialidades {
    padding-top: 150px;
    margin: auto;
    color:white;
    

}

section.especialidades > div.interface {
    display: flex;
}

section.especialidades > h1 {
    padding-bottom: 40px;
    text-align: center;
    font-size: 30px;
}

div.esflex {
    padding: 50px;
    margin-bottom: 30px;
    display: inline-flex;
    background-color: rgb(149, 125, 253);
    border-radius: 50px;
    box-shadow: 10px 10px 10px black;
    margin: auto;
    border: 2px solid black;
    
    
}

div.html {
    padding: 20px;
}

div.html:hover {
    transform: scale(1.05);
    
}


div.css {
    padding: 20px;

}

div.css:hover {
    transform: scale(1.05);
    
}


div.javascript {
    padding: 20px;
}

div.javascript:hover {
    transform: scale(1.05);
    
}

div.python {
    padding: 20px;
}

div.python:hover {
    transform: scale(1.05);
    
}

div.react {
    padding: 20px;
}

div.react:hover {
    transform: scale(1.05);
    
}


div.mysql {
    padding: 20px;
}

div.mysql:hover {
    transform: scale(1.05);
    
}





/*-------------------------------------------*/
/*------------- ESTILO DO SOBRE ------------- */
/*-------------------------------------------*/

section.sobre {
    
    padding: 40px 4%;

}



section.sobre .flex {
    align-items: center;
    gap: 60px;
}


section.sobre .flex .txt-sobre h2 {

    padding-top: 70px;
}


.sobre .txt-sobre {
    color: white;
    text-align: justify;

}

.social button { 
    width: 60px;
    height: 60px;
    margin: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color:rgb(149, 125, 253);
    
}

.social button:hover {
    transform: scale(1.10);
    box-shadow: 0px 0px 8px rgb(168, 151, 245) ;

}