@charset "UTF-8";

/*-----------------------------------------------*/
/* ----------------  ESTILO GERAL ---------------*/
/*-----------------------------------------------*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: rgb(72, 27, 145);
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
}

html {
     scroll-behavior: smooth;
}




/*------------------------------------------*/
/*---------- ESTILO DO CABEÇALHO ---------- */
/*------------------------------------------*/

header {
    padding: 40px 4%;
    background-color: rgb(0, 0, 0);
    height: 200px;
    
}

header > .interface {

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header a {
    color: rgb(85, 33, 170);
    text-decoration: none;
    font-weight: bolder;
    display: inline-block;
}

header nav.menu-desktop a:hover {
    color:rgb(149, 125, 253);
    transform: scale(1.10);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

header .contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(149, 125, 253);
    border: 0px;
    border-radius: 30px;
    cursor: pointer;

}

header .contato button:hover {
    box-shadow: 0px 0px 8px rgb(168, 151, 245) ;
}


/* ESTILO MENU MOBILE */

.abrir-menu svg{
    color: rgb(85, 33, 170);
    height: 50px;
    width: 40px;
    
    

}

.menu-mobile {
    background-color: rgb(168, 151, 245);
    height: 100%vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 0%;
    overflow: hidden;
    transition: .7s;

}

.menu-mobile.abrir-menu{
    width: 60%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
    


}


.menu-mobile .menu-fechar {
    padding: 20px 4%;

}

.menu-mobile .menu-fechar svg {
    color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
    cursor: pointer;
    


}

.menu-mobile nav ul {
    text-align: right;

}

.menu-mobile nav ul li a {
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;

}

.menu-mobile nav ul li a:hover {
    background-color: rgb(72, 27, 145);
    
}


.overlay-menu{
    background-color: rgba(0, 0, 0, 0.904);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}



/*-------------------------------------------*/
/*-------------- TOPO DO SITE -------------- */
/*-------------------------------------------*/

section.topo-do-site {
    padding: 40px 4%;

}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
}

.topo-do-site h2 {
    color: white;
    line-height: 30px;
    
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;


}


@keyframes flutuar {
    0%{
        top: 0;
    }
    100% {
        top: 30px;
    }
}


/*-------------------------------------------*/
/*------------- ESPECIALIDADES ------------- */
/*-------------------------------------------*/

section.especialidades {
    padding-top: 150px;
    margin: auto;
    color:white;
    

}

section.especialidades > div.interface {
    display: flex;
}

section.especialidades > h1 {
    padding-bottom: 40px;
    text-align: center;
    font-size: 30px;
}

div.esflex {
    padding: 50px;
    margin-bottom: 30px;
    display: inline-flex;
    background-color: rgb(149, 125, 253);
    border-radius: 50px;
    box-shadow: 10px 10px 10px black;
    margin: auto;
    border: 2px solid black;
    
    
}

div.html {
    padding: 20px;
}

div.html:hover {
    transform: scale(1.05);
    
}


div.css {
    padding: 20px;

}

div.css:hover {
    transform: scale(1.05);
    
}


div.javascript {
    padding: 20px;
}

div.javascript:hover {
    transform: scale(1.05);
    
}

div.python {
    padding: 20px;
}

div.python:hover {
    transform: scale(1.05);
    
}

div.react {
    padding: 20px;
}

div.react:hover {
    transform: scale(1.05);
    
}


div.mysql {
    padding: 20px;
}

div.mysql:hover {
    transform: scale(1.05);
    
}





/*-------------------------------------------*/
/*------------- ESTILO DO SOBRE ------------- */
/*-------------------------------------------*/

section.sobre {
    
    padding: 40px 4%;

}



section.sobre .flex {
    align-items: center;
    gap: 60px;
}


section.sobre .flex .txt-sobre h2 {

    padding-top: 70px;
}


.sobre .txt-sobre {
    color: white;
    text-align: justify;

}

.social button { 
    width: 60px;
    height: 60px;
    margin: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color:rgb(149, 125, 253);
    
}

.social button:hover {
    transform: scale(1.10);
    box-shadow: 0px 0px 8px rgb(168, 151, 245) ;

}




/*-------------------------------------------*/
/*----------- ESTILO DOS PROJETOS ---------- */
/*-------------------------------------------*/

section.portfólio {
    padding: 80px 4%;
    box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.171);

}

section.portfólio h2 {
    color: white;
    font-size: 30px;
    padding-left: 37vw;
    margin: 0 auto;
}

section.portfólio .flex {
    justify-content: space-around;
    margin-top: 60px;
    
}

.img-port {
    width: 360px;
    height: 460px;
    background-color: rgb(168, 151, 245);
    background-size: cover;
    background-position: 100% 0%;
    border-radius: 40px;
    position: relative;
    
}

.img-port:hover {
    background-position: 100% 100%;
    transition: 5s;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}


.overlay:hover {
    opacity: 1;
}




/*--------------------------------------------*/
/*----------- ESTILO DO FORMULÁRIO ---------- */
/*--------------------------------------------*/

section.formulário {
    padding: 80px 4%;
}

section.formulário h2 {
    color: white;
    text-align: center;
    font-size: 35px;
    padding-bottom: 30px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;

}

form input, textarea {
    width: 100%;
    background-color: rgb(168, 151, 245);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 20px;
    color: white;
    font-size: 18px;


}


form textarea {

    resize: none;
    color: white;
}

form .enviar {
    margin-top: 20px;
    text-align: center;
    
}


form .enviar input {
    width: 120px;
    background-color: ;
    font-weight: 700px;
    cursor: pointer;
    transition: 0.3s;

}

form .enviar input:hover {
    box-shadow: 0px 0px 8px rgb(168, 151, 245) ;
    transform: scale(1.1);

}




/*--------------------------------------------*/
/*----------- ESTILO DO RODAPÉ ---------- */
/*--------------------------------------------*/

footer {
    padding: 60px 4%;
    box-shadow: 0px 0px 8px rgb(168, 151, 245) ;
}

div.line p, a {
    color: white;
    font-size: 20px;
    
}




/*--------------------------------------------*/
/*----------- MEDIA QUERY ---------- */
/*--------------------------------------------*/


@media screen and (max-width: 1020px){
    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    .esflex {
        flex-direction: column;
    }



    /* CABEÇALHO */
    .menu-desktop, .contato {
        display: none;
    }


    /* TOPO DO SITE */

    section.topo-do-site {
        padding: 20px 8%;


    }



    .topo-do-site h1 {
        font-size: 30px;
        
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    
    
    }

    section.topo-do-site .flex {
        gap: 40px;
    }



    /* PROJETOS */

    section.portfólio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
                
    }

    section.portfólio .flex {
        gap: 60px;
    }

    section.portfólio h2 {
        
        margin-left: -50%;
        
    }
    
        
}